<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api viaCep Utilizando js</title>
        <!-- arquivos bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
       <!-- arquivos jquery para uso de mask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.11.2/jquery.mask.min.js" integrity="sha512-Y/GIYsd+LaQm6bGysIClyez2HGCIN1yrs94wUrHoRAD5RSURkqqVQEU6mM51O90hqS80ABFTGtiDpSXd2O05nw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  
  </head>
<body>
  <main class="container">
    <div class="bg-light p-5 rounded">
      <h1 class="text-capitalize">consute seu <b class="text-uppercase">cep</b> aqui </h1>
      <p class="lead text-capitalize">Consulte o seu <b class="text-uppercase">cep</b> aqui.
        informe somente o endereço desejado e o sistema busca o cep para você.
      </p>
       <p class="lead text-capitalize">click no botão a baixo para buscar o <b class="text-uppercase">cep.</b></p>
      <a class="btn btn-lg btn-primary text-capitalize" href="buscaCep" role="button">buscar cep &raquo;</a>
    </div>
  </main>
</body>
</html>